# unstructured 
# libmagic 
# python-magic 
# python-magic-bin
# langchain
# faiss-cpu
# sentence-transformers
langchain
unstructured
pdf2image
pdfminer.six
unstructured_inference
pikepdf
pypdf
pinecone-client
openai
tiktoken
langchain-openai
pillow-heif
